{% load static %}
<div class="col-12 mx-auto piepag mt-5 fonfooter">
    <div class="col-11 mx-auto">
        <div class="row">
            <div class="col-9 mx-auto mt-5 txtfooter">
                <h5>SERVICIO NACIONAL DE APRENDIZAJE SENA</h5>
                <h5>Centro de Gestión de Mercados, Logística y Tenologías de la Información</h5>
                <p>Dirección: Cl 52 N° 13 65 Bogot&aacute;- Tel: +(57) 601 594 1301<br>
                Conmutador Nacional - Extensiones<br>
                Atención telefónica: lunes a viernes 7:00 a.m. a 7:00 p.m. - sábados 8:00 a.m. a 1:00 p.m.<br>
                Atención al ciudadano: Bogotá +(57) 601 7366060 - Línea gratuita y resto del país 018000 910270<br>
                Atención al empresario: Bogotá +(57) 601 3430101 - Línea gratuita y resto del país 018000 910270</p>
            </div>
            <div class="col-3 mx-auto mt-4">
                <img src="{% static 'img/img/foot1.png' %}" height=250px>
            </div>
        </div>
    </div>
</div>
<div class="col-10 mx-auto mt-4">
    <div class="row">
        <div class="col-1 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://www.facebook.com/SENA/">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-facebook"></i>
                        </div>
                    </a>
                </div>
                <div class="col-4 mx-auto mt-2">
                    <p class="txticon">@SENA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://www.instagram.com/senacomunica/">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENACOMUNICA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://twitter.com/SENAComunica?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ASENAComunica%7Ctwcon%5Es2" target="_blank">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-twitter"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENACOMUNICA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://www.youtube.com/user/SENATV" target="_blank">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENATV</p>
                </div>
            </div>
        </div>
        <div class="col-1 mx-auto">
            <div class="row">
                <div class="col-1 mx-auto">
                    <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank">
                        <div class="col-1 mx-auto">
                            <img class="logoIcon" src="/static/img/icons/logoSena.png"/>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-1 mx-auto">
                    <a href="https://www.tiktok.com/@senacomunica_" target="_blank">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-tiktok"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENACOMUNICA_</p>
                </div>
            </div>
        </div>
    </div>
</div>

